#fieldset {
    border: 3px; 
    margin-left: 
    25rem; 
    background-color: rgb(211, 211, 211); 
    box-shadow: 1px 1px 10px black; 
    margin-right: 25rem; margin-top: 4rem; 
    padding: 3rem;
}

#h2 {
    text-align: center;
     margin: 2rem;
}

#form-1 {
    margin-left: 10rem;
    margin-right: 10rem;
}

#idBtReset {
    margin-left: 1rem;
    margin-right: 1rem;
}

#label {
    margin-top: .3rem;
    margin-left: .4rem;
}

img {
    height: 200px;
}